.content {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    scroll-margin-top: 70px;
}

button {
    margin: 0 auto;
    padding-bottom: 20px;
}

.btn {
    text-decoration: none;
    margin: 0 30px;
    border: none;
    font-size: 24px;
    background-color: white;
    color: gray;
}

.btn:hover {
    color: black;
}




@media (max-width: 900px) {

    .content {
        scroll-margin-top: 90px;
    }

    .photo {
        width: 300px;
    }

    .price {
        display: flex;
        flex-direction: column;
        background-size: cover;
        margin: 0 auto;
    }

    .mini,
    .standart,
    .maxi,
    .premium {
        margin: 15px;
        border-radius: 10px;
    }
}